#home .homeGroup{
    height: 100vh;
    background-color: rgb(252,252,255);
}
#home .FOOOOO {
    font-size: 13vh;
    font-weight: 1000;
    color: lightcoral;
}

#home div{
    font-size: 30px;
    font-weight: 500;
    margin-left : auto;
    margin-right: auto;
    text-align:center;
}

#home video {
    width: 100vw;
}