#Navigation {
    padding: 0;
    margin: 0;
    width:180px;
    height:100vh;
    background-color: #333;
    border: 1px solid #333;
}


#MenuList {
    position: absolute;
    width: 100px;
    top: 50%;
    left: 20px;
    margin-top: -42vh;
    margin-left: 20px;
    line-height:5;
    text-align: center;
    
}



hr {
    width: 80px;
}