#nav {
    float: left;
}

#bottom {
    font-size: 17;
    font-weight: 700;
    float: left;
    width: 100vw;
    padding-left: 30px;
    background-color: #333;
    color: white;
    vertical-align: bottom;
}

#banner {
    float:unset;
}